# Only keep ProjectSettings and Assets folders in git project, ignore
# EVERYTHING else.

*/Library/
*/Logs/
*/Temp/
*/Packages/
*/Builds/

# We may need to rethink this, but it is now ignored becouse it has HintPath property
# that is full path to a location in current computer where some required files are.
# Apparently unity generates these anyway when reloading scripts.
# The drawback to watch out is that when new member joins team, they may not be able
# to open project right away, but need to recreate it on their local machine.
*.csproj

# Development tool dependant folders, containing local settings and whatnot, not useful
# to anyone else.
*/.vs/
*/.idea/
*.sublime-project
*.sublime-workspace

# This is only needed for net code development
MorkoUnityProjectCopyForNetDev/
MorkoUnityProject/Assets/Plugins/Editor/JetBrains.meta

# Python and batch tools. Note that build.py that builds network is not ignored
*/__pycache__/
*.py
*.bat

# logs
*.log
*/log.txt
